body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

header {
  margin: 25px 0;
}

.menu-container {
  margin: auto;
  text-align: center;
  width: 360px;
  font-size: 12px;
  border-bottom: 2px solid white;
}

.menu {
  padding: 0;
}

.menu-item {
  padding: 0 15px;
  list-style: none;
  display: inline-block;
}

.menu-item:hover {
  color: aqua;
  cursor: pointer;
}

main {
  background-color: rgb(43, 43, 43);
  padding: 30px 15px;
  width: 650px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 5px;
}

.author-style {
  font-size: 10px;
  color: rgb(133, 133, 133);
}

.image {
  text-align: center;
}

.fig-caption {
  font-style: italic;
  font-size: 12px;
}

footer {
  background-color: rgb(22, 22, 22);
  padding: 10px 0 30px 0;
  text-align: center;
  font-size: 12px;
}
